In [1]:
number = 0.5
float(type(int(number)))

TypeError: float() argument must be a string or a real number, not 'type'

In [3]:
print(type(number))

<class 'float'>

In [4]:
float(type(int(number)))

TypeError: float() argument must be a string or a real number, not 'type'

In [5]:
int = int(number)
print(int)

0

In [ ]:
# python keywords
# we can not use them as a variables.
# int, float, list, and, or, not, in, str, tuple, dict

In [6]:
number = -9
print(type(number))

<class 'int'>

In [8]:
str_number = str(number)

print(type(str_number))

<class 'str'>

In [9]:
text = '123apple'

print(type(int(text)))

ValueError: invalid literal for int() with base 10: '123apple'

In [4]:
str_num = '9'
print(type(int(str_num)))

<class 'int'>

In [5]:
num = int(str_num)
print(type(num))

<class 'int'>

In [10]:
number = 0.2

print(str(number))

0.2

In [12]:
number_1 = 0.4

print(str(number))

0.2

In [ ]:
int()
str()
float()